   /**
 * Contents
 * Navigation Bar
 * Tab Headers
 * Graph Headers
 */
 
 body, html {
  margin: 0px;
  font-family: Arial;
 }
 
/*------------------------------------*\
  Navigation Bar
\*------------------------------------*/

/* Styling Tab Link */
.tablink {
  background-color: #C1E1A6;
  color: #600000;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.33%;
}

/* Link Hover Color */
.tablink:hover {
  background-color: #C0C0C0;
}

/* Style Tab Content */
.tabcontent {
 color: black;
 display: none;
 padding: 100px 20px;
 height: 100%;
 box-sizing: border-box;
}

/* Tab Background Color */
#trends { background-color: #118C4E; }
#analysis { background-color: #118C4E; }
#stats { background-color: #118C4E; }

/*---------------------------------------*\
  Tab Headers
\*---------------------------------------*/

#header { 
 color: #C0C0C0; 
 font-family: 'Raleway',sans-serif; 
 font-size: 62px; 
 font-weight: 800; 
 line-height: 72px; 
 margin: 0 0 24px; 
 text-align: center; 
 text-transform: uppercase; 
}

/*-----------------------------------------*\
  Graph Headers/Other
\*-----------------------------------------*/
  
#data {
 color: #C0C0C0; 
 font-family: 'Raleway',sans-serif; 
 font-size: 30px; 
 font-weight: 800; 
 line-height: 36px; 
 margin: 0 0 24px; 
 text-align: left;	
}

