   /**
 * Contents
 * Navigation Bar
 * Tab Headers
 * Graph Headers
 * Charts
 * Map
 * Observatioins
 */
 
 body, html {
  margin: 0px;
  font-family: Arial;
 }
 
/*------------------------------------*\
  Navigation Bar
\*------------------------------------*/

/* Styling Tab Link */
.tablink {
  background-color: #C1E1A6;
  color: #118c8c;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 25px;
  width: 33.33%;
}

/* Link Hover Color */
.tablink:hover {
  background-color: #8c114f;
}

/* Style Tab Content */
.tabcontent {
  color: black;
  display: none;
  padding: 25px 20px;
  height: 100%;
  box-sizing: border-box;
}

/* Tab Background Color */
#trends { 
  background: rgba(98,125,77,1);
  background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(14%, rgba(98,125,77,1)), color-stop(49%, rgba(157,175,151,1)), color-stop(73%, rgba(98,120,84,1)), color-stop(100%, rgba(31,59,8,1)));
  background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 ); 
 }
#analysis { 
  background: rgba(98,125,77,1);
  background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(14%, rgba(98,125,77,1)), color-stop(49%, rgba(157,175,151,1)), color-stop(73%, rgba(98,120,84,1)), color-stop(100%, rgba(31,59,8,1)));
  background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 ); 
}
#stats { 
  background: rgba(98,125,77,1);
  background: -moz-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(98,125,77,1)), color-stop(14%, rgba(98,125,77,1)), color-stop(49%, rgba(157,175,151,1)), color-stop(73%, rgba(98,120,84,1)), color-stop(100%, rgba(31,59,8,1)));
  background: -webkit-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -o-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: -ms-linear-gradient(left, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  background: linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(98,125,77,1) 14%, rgba(157,175,151,1) 49%, rgba(98,120,84,1) 73%, rgba(31,59,8,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08', GradientType=1 ); 
}

/*---------------------------------------*\
  Tab Headers
\*---------------------------------------*/

#main {
  background: #222222;
  color: #3FFF33;
  font-size: 35px;

}

#header p { 
  text-align: center;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgba(44,119,44,0.7);
  background-image: url("http://enjoycss.com/bg-img/custom/99466-osjc5h.jpg");
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  border: 7px solid rgba(15,112,4,1);
  -webkit-border-radius: 75px / 100px;
  border-radius: 75px / 100px;
}

 /*----------------------------------*\
  Graph Headers/Other
 \*----------------------------------*/
  
#secondary {
  display: inline-block;
  padding: 5px;
  color: #3FFF33;
  font-size: 25px;
}
  
#data p {
  text-transform: uppercase;
  text-shadow: 10px 10px 10px rgba(44,119,44,0.7); 
  font-family: 'Raleway',sans-serif;  
  font-weight: 800; 
  line-height: 36px; 
  margin: 0 0 24px; 
  text-align: left;	
  background-image: url("http://enjoycss.com/bg-img/custom/102900-phkw6y.jpg");
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  border: 7px solid rgba(15,112,4,1);
  -webkit-border-radius: 75px / 100px;
  border-radius: 75px / 100px;
}

/*------------------------------*\
  Charts
\*------------------------------*/

#chartContainer {
	border-style: solid;
	border-width: 5px;
}

#chartContainer2 {
	border-style: solid;
	border-width: 5px;
}

#chartContainer3 {
	border-style: solid;
	border-width: 5px;
}

#chartContainer4 {
   border-style: solid;
   border-width: 5px;
}

/*--------------------------------*\
  Map
\*--------------------------------*/

.heading-hazards {
  font-weight: bold;
}

#list-hazard {
  width: 500px;
  background-color: #DDD;
  padding-left: 0px;
  list-style-type: none;
  counter-reset: bullet;
}

.list-element-hazard::before {
  display: inline-block;
  box-sizing: border-box;
  counter-increment: bullet;
  content: counter(bullet);
  background: #DDD;
  margin: 0px 10px;
  padding: 10px 0px;
  text-align: center;
  width: 40px;
}

.list-element-hazard {
  padding: 5px 0px;
  background-color: #FFF;
}

.list-element-hazard:hover {
  border-left: solid #AAA 3px;
  margin-left: -3px;
}

.list-element-hazard:nth-child(odd) {
  background-color: #EEE;
}

.my-legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
}
.my-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  list-style: none;
}
.my-legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

.my-legend a {
  color: #777;
}

/*-----------------------*\
  Observations
\*-----------------------*/

.section {
  color: #DCDCDC; 
  font-family: 'Raleway',sans-serif; 
  font-size: 50px; 
  font-weight: 800; 
  line-height: 72px; 
  margin: 0 0 24px; 
  text-align: center; 
  text-transform: uppercase;
}

.zips {
  color: #f8f8f8; 
  font-family: 'Raleway',sans-serif; 
  font-size: 18px; 
  font-weight: 500; 
  line-height: 32px; 
  margin: 0 0 24px; 
  text-align: center;
}

.reasons {
  color: #DCDCDC; 
  font-family: 'Raleway',sans-serif; 
  font-size: 30px; 
  font-weight: 800; 
  line-height: 36px; 
  margin: 0 0 24px; 
  text-align: center;
}

#explanations {
  padding-bottom: 25px;	
}
/*-------------------------*\
  Table
\*-------------------------*/

tr:hover {background-color:#f5f5f5;}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;  
}

table {
  border-collapse: collapse;
  width: 100%;  
}


