   /**
 * Contents
 * Navigation Bar
 * Tab Headers
 */
 
 body, html {
  
  margin: 0px;
  font-family: Arial;
 }
 
/*------------------------------------*\
  Navigation Bar
\*------------------------------------*/

/* Styling Tab Link */
.tablink {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

/* Link Hover Color */
.tablink:hover {
  background-color: gray;
}

/* Style Tab Content */
.tabcontent {
 color: black;
 display: none;
 padding: 100px 20px;
 height: 100%;
 box-sizing: border-box;
}

/* Tab Background Color */
#trends { background-color: lime; }
#analysis { background-color: lime; }
#stats { background-color: lime; }

/*---------------------------------------*\
  Tab Headers
\*---------------------------------------*/

#header {
  text-align: center;
  text-decoration: underline;

